@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
  background-image: url("https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg");
  text-align: center;
  margin: auto;
  font-family: "Bungee Spice", serif;
}

h1{
  font-size: 45px;
}

#myCanvas {
  width: 460px; 
  border-radius: 270px;
  border: 10px solid white;
}



